<div class="container">
    <div class="page-header">
        <div class="row">
            <div class="col-lg-12 col-centered">
                <h2 id="buttons">Запись на прием к ветеринару</h2>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="center-block">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-5 col-onright">
                        <button class="btn btn-info" ng-click="currMonthDown()">&laquo; Месяц назад</button>
                    </div>
                    <div class="col-lg-2 col-centered">
                        <h5><strong>{{ month[curr - 1] }} {{ year }}</strong></h5>
                    </div>
                    <div class="col-lg-5 col-onleft">
                        <button class="btn btn-info" ng-click="currMonthUp()">Месяц вперед &raquo;</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <button ng-click="convertDaysFromResponse()">DAYS!</button>
        <div ng-repeat="day in currDaysInMonth track by $index">
            {{ day }}
        </div>  
    </div>
    
</div>