<!DOCTYPE html>
<html ng-app="vetApp">
<head>
    <title>HealthyPet</title>
	<meta charset="utf-8" />
    <link href="../app/lib/bootstrap.css" rel="stylesheet" />
</head>
<body ng-controller="testCtrl">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="index.html">Healthy Pet</a>
            </div>
                
                <ul class="nav navbar-nav navbar-right">
                    <li><span class="navbar-text ng-hide" ng-show="inrole"><b>{{user.name}}</b>(Администратор)</span></li>
                    <li><a href="#" ng-show="inrole" class="ng-hide">Выйти</a><a href="#" ng-hide="inrole">Войти</a></li>
                </ul>
            </div>
    </nav>
    <br />
    <br />
    <br />
    <button ng-click='onOffRole()'>ON/OFF Role</button>
            <ng-view></ng-view>
            
            <script src="../app/lib/angular.min.js"></script>
            <script src="../app/lib/angular-route.min.js"></script>
            <script src="../app/app.js"></script>
            <script>
                var vetApp = angular.module('vetApp', []).controller('testCtrl', function ($scope) {
                    
                    $scope.onOffRole = function () {
                        if ($scope.inrole === true) {
                            $scope.inrole = false;
                            $scope.user = {
                                name: ''
                            }
                        }
                        else {
                            $scope.inrole = true;
                            $scope.user = {
                                name: 'антон'
                            }
                        }
                    }
                });
            </script>
</body>
</html>
